.search-bar {
    width: 100%;
    height: 82px;
    background-color: #05336B;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
}

.search-l {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 246px;
    height: 70px;
}

.logo {
    width: 60px;
    height: 60px;
    background-color: white;
    color: #05336B;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    padding-left: 3px;
}

.ibm-tag {
    color: white;
    width: 150px;
    margin-left: 10px;
}

.search-m {
    width: 100%;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-box {
    width: 400px;
    height: 41px;
    border-radius: 20px;
    background-color: #375C89;
    display: flex;
    align-items: center;
}

.search-text {
    color: white;
    width: 380px;
    height: 38px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding-top: 15px;
}

.search-icon {
    width: 38px;
    height: 38px;
    margin-right: 5px;
    padding-top: 4px;
}

.search-r {
    width: 500px;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.unit-box {
    width: 120px;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.unit-icon {
    width: 23.8px;
    height: 23.6px;
}

.Icon--lightTheme--3RdOJ {
    fill: #fff;
    color: #fff;
    --color-moon: #fff;
    --color-cloud: #fff;
    --color-star: #fff;
    --color-fog: #fff;
    --color-wind: #fff;
    --color-sun: #fff;
    --color-lightning: #fff;
    --color-snowflake: #fff;
    --color-hail: #fff;
    --color-thunderstorm-mask: #2b2b2b;
}

.unit-text {
    color: white;
    font-size: 18px;
}

.premium-button {
    background-color: white;
    border-radius: 20px;
    width: 90px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-text {
    color: #05336B;
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.menu {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 40px;
    height: 26px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.bar {
    width: 35px;
    height: 3px;
    border-radius: 1px;
    background-color: white;
}

.current-bar {
    width: 100%;
    height: 40px;
    background-color: #375C89;
}

.current-weather {
    width: 299px;
    height: 40px;
    border-right: rgba(255, 255, 255, 0.432) solid 1px;
    margin-left: 60px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.current-icon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.location {
    margin: 5px;
}

.location-text {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.cat-bar {
    width: 100%;
    height: 40px;
    background-color: #031F40;
}

.categories {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    padding-left: 150px;
    padding-right: 150px;
}

.cat {
    color: white;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}